.contentType {
  padding: 40px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading p {
  font-size: 26px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}

.addBtn {
  display: flex;
  font-size: 14px;
  align-items: center;
  color: #fff;
  background-color: #3063fc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  height: max-content;
}

.addBtn:active {
  transform: scale(0.9);
}
