.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tableSmall {
  background-color: #f2f2f2;
}

.tableSmall tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableSmall tr:hover {
  background-color: #f2f2f2 !important;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3ca407;
  color: white;
}

.table td p {
  margin-bottom: 10px;
  text-align: center;
}

.button {
  padding: 5px 10px;
  background-color: #3ca407;
  outline: 0;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 10px;
}

.status {
  background-color: red;
  font-size: 12px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
