.cmsAdmin {
  width: 100%;
  display: flex;
}
.cmsLeft {
  width: 260px;
  min-width: 260px;
  height: 100vh;
}

.cmsRight {
  width: calc(100% - 260px);
}

.cmsBody {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.heading p {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}

.addBtn {
  display: flex;
  font-size: 14px;
  align-items: center;
  color: #fff;
  background-color: #999;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  height: max-content;
  justify-content: center;
  min-width: 60px;
}

.addBtn:active {
  transform: scale(0.9);
}
